@font-face {
  font-family: Berkeley Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/BerkeleyMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Berkeley Mono;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/BerkeleyMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/InterVariable.woff2?v=4.0") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/InterVariable-Italic.woff2?v=4.0") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("./fonts/JetBrainsMono.woff2?v=2.304") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: italic;
  font-weight: 100 800;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Italic.woff2?v=2.304") format("woff2");
}
