img,
video {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  border-radius: var(--rounded-corner-smallest);
  box-shadow: var(--shadow);
}

img {
  transition: var(--transition-longer);

  &:not(.no-hover):hover {
    transform: scale(105%);
    box-shadow: var(--shadow-raised);
  }

  &:active {
    transform: scale(var(--active));
  }

  @media screen and (max-width: 480px) {
    &:not(.no-hover):hover {
      transform: scale(105%);
    }
  }
}

.full {
  width: 100%;
}

.pixels {
  image-rendering: pixelated;
}

.transparent {
  border-radius: 0;
  box-shadow: none;
}
