<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="{{ config.extra.primary_color }}" />
  <link rel="canonical" href="{{ current_url | default(value='/') }}" />

  <title>
    {% if page.title %} {{ page.title }} - {{ config.title }}
    {% elif section.title %} {{ section.title }} - {{ config.title }}
    {% else %} {{ config.title }} {% endif %}
  </title>

  <link rel="stylesheet" href="{{ get_url(path='style.css') }}" />
  {% if config.extra.stylesheets %}
    {% for stylesheet in config.extra.stylesheets %}
      <link rel="stylesheet" href="{{ get_url(path=stylesheet) }}" />
    {% endfor %}
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="me" href="https://{{ config.extra.comments.host }}/@{{ config.extra.comments.user }}" />

  <!-- Open Graph -->
  <meta property="og:site_name" content="{{ config.title }}" />
  <meta property="og:title" content="
    {% if page.title %} {{ page.title }} - {{ config.title }}
    {% elif section.title %} {{ section.title }} - {{ config.title }}
    {% else %} {{ config.title }} {% endif %}" />
  <meta property="og:url" content="{{ current_url | default(value='/') }}" />
  <meta property="og:description" content="{{ page.description | default(value=config.description) }}" />
  <meta property="og:image" content="{{ get_url(path='card.png') }}" />
  <meta property="twitter:card" content="summary_large_image" />
</head>
